.name {
  color: rgb(206, 94, 187);
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 3rem;
  transition: all 0.25s;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.name:hover {
  color: rgb(101, 77, 158);
  opacity: 0.75;
}
img {
  transition: all 0.25s;
}
img:hover {
  opacity: 0.6;
}

.header {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #666;
}

.header {
  padding: 20px;
}

.navbar a {
  text-decoration: none;
}

.navbar Button {
  font-size: 10px;
}

.navbar {
  background-color: white;
  margin-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
  top: 0;
  z-index: 1;
}

.footer {
  padding: 150px;
  margin-top: 100px;
  height: 50px;
  color: #666;
  z-index: -1;
}

.line-break {
  width: 100%;
}
/**
TODO: Dark Mode
*/
