.App {
  text-align: center;
}

.navbar Button {
  font-size: 10px;
}

.navbar {
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.name {
  color: rgb(206, 94, 187);
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 3rem;
}

.links {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
}

header {
  margin-top: 20px;
}
