.book {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 95%;
  border: 0.01em solid #666;
  display: flex;
  background-color: rgb(250, 242, 249);
  box-shadow: 0 0 1px 0px #666;
  flex-wrap: wrap;
}
.header {
  align-self: flex-start;
  font-size: 30px;
  margin: 0px;
}
.quote {
  margin-top: 40px;
  font-style: italic;
}

.rating {
  margin-bottom: 0px;
  margin-top: 30px;
  font-size: 75px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
form{
  color:#666;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select{
  color:#666 ;
  font-family: inherit;
  border-radius: 0px;
  border-color: rgb(206, 94, 187);
  border-style:solid;
  height:2.5em;
  margin: 0.5em;
  text-align: center;
}

select:hover{
  cursor: pointer;
}


option{
  font-family: inherit;
  color:#666;
}

option:hover{
  cursor:pointer;
}