.button {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid rgb(206, 94, 187);
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: gray;
  text-align: center;
  transition: all 0.15s;
}
a.button:hover {
  color: #dddddd;
  border-color: #dddddd;
}
a.button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
@media all and (max-width: 30em) {
   a.button {
    display: block;
    margin: 0.4em auto;
  }
}
.circle {
  width: 8em;
  height: 8em;
  text-align: center;
  padding: 3.3em 0;
  font-size: 24px;
  border-radius: 8em;
}
