.button {
  background-color: white;
  margin: 0.5em;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 2em;
  border: 0.16em solid rgb(206, 94, 187);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: gray;
  text-align: center;
  transition: all 0.15s;
}
a{
  text-decoration: none;
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
  border-color: #dddddd;
}
.button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
.img:hover {
  opacity: 1;
}
.circle {
  width: 8em;
  height: 8em;
  text-align: center;
  padding: 3.3em 0;
  border-radius: 8em;
  margin: 1em;
}
