body {
  background-color: #ececec;
  margin: 0;
  align-content: center;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #666;
  font-weight: 500;
}

@media (min-width: 1200) {
  .App {
    width: 100%;
  }
}
#root{
  width:100%;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #ececec;
}
.App {
  background-color: white;
  margin: 50px;
  padding: 50px;
  width: 50%;
}

div {
  background-color: white;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}

header {
  margin-top: 20px;
}
