body {
  background: #81685b;
  margin: 0;
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  font-size: 1.5em;
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-family: "Spectral", Garamond, Baskerville, Baskerville Old Face,
    Hoefler Text;
  font-size: 30px;
}
