:root {
  --dark-sec: #38afff;
  --mid-sec: #afecfc;
  --white: white;
  --grey: #444444;
  --orange: #fcbfaf;
  --body-serif: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;
  --body-sans: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
  --heading: "Spectral", Garamond, Baskerville, Baskerville Old Face,
    Hoefler Text;
  background: var(--mid-sec);
}

body {
  margin-top: 50px;
  background: var(--white);
  margin: 0;
  font-family: var(--body-serif);
  font-size: 1.5em;
  margin: 0;
}

h2 {
  font-family: var(--body-serif);
  font-size: 30px;
}

a {
  color: var(--dark-sec);
}
